scratch-ws/scratch-ws-wsdl/src/main/resources/wsdl/PingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://services.ws.scratch.org/VERSION/test" 
  
  xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" 
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
  xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
  
  name="PingService"  
  targetNamespace="http://services.ws.scratch.org/VERSION/test"
  >

  <!-- JAX-WS Customizations: Wrapper styles, async. -->
  <jaxws:bindings> 
    <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
    <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
  </jaxws:bindings>

  <types xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb" 
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jxb:extensionBindingPrefixes="xjc" 
        jxb:version="1.0" 
        targetNamespace="http://services.ws.scratch.org/VERSION/test" 
        version="1.0">
      <xs:annotation>
        <xs:appinfo>
          <jxb:globalBindings collectionType="java.util.LinkedList" fixedAttributeAsConstantProperty="true" generateIsSetMethod="false">
            <xjc:serializable uid="1" />
          </jxb:globalBindings>
        </xs:appinfo>
      </xs:annotation>

      <xs:element name="PingServiceException" type="tns:WebServiceFaultInfo" />

      <xs:complexType name="WebServiceFaultInfo">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.remote.services.ws.common.WebServiceFaultInfo" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <!-- OPERATIONS -->

      <xs:complexType name="PingRequest">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="1" />
          <xs:element name="requestName" type="xs:string" minOccurs="0" />
          <xs:element name="requestSize" type="xs:int" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="pingRequest" type="tns:PingRequest" />

      <xs:complexType name="PingResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="1" />
          <xs:element name="requestId" type="xs:long" minOccurs="0" />
          <xs:element name="requestName" type="xs:string" minOccurs="0" />
          <xs:element name="requestSize" type="xs:int" minOccurs="0" />
          <xs:element name="requestDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="pingResponse" type="tns:PingResponse" />

    </xs:schema>
  </types>
  <message name="pingRequest">
    <part name="parameters" element="tns:pingRequest" />
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse" />
  </message>
  <message name="PingServiceException">
    <part name="fault" element="tns:PingServiceException" />
  </message>
  <portType name="PingServicePortType">
    <jaxws:bindings> 
      <jaxws:class name="PingWebService" />
    </jaxws:bindings>
    <operation name="ping">
      <input wsam:Action="http://services.ws.scratch.org/VERSION/test/PingService/pingRequest" message="tns:pingRequest" />
      <output wsam:Action="http://services.ws.scratch.org/VERSION/test/PingService/pingResponse" message="tns:pingResponse" />
      <fault message="tns:PingServiceException" name="PingServiceException"
        wsam:Action="http://services.ws.scratch.org/VERSION/test/PingService/ping/Fault/PingServiceException">
        <jaxws:bindings> 
          <jaxws:class name="PingWebServiceException" />
        </jaxws:bindings>
      </fault>
    </operation>
  </portType>
 
  <!-- plain text --> 
  
  <binding name="PingServicePlainTextBinding" type="tns:PingServicePortType">
    <wsp:PolicyReference URI="#UnsecureTransportPolicy" />
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="PingServiceException">
        <soap:fault name="PingServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  
  <service name="PingPlainTextService">
    <jaxws:bindings> 
      <jaxws:class name="PingPlainTextServiceClient" />
    </jaxws:bindings>
    <port name="PingServicePlainTextPort" binding="tns:PingServicePlainTextBinding">
      <wsp:PolicyReference 
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2003/09/policy" 
        URI="#UnsecureTransportPolicy" />
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>

  <wsp:Policy wsu:Id="UnsecureTransportPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing/>
        <sp:SupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
 
  <!-- SSL --> 
  
  <binding name="PingServiceSslBinding" type="tns:PingServicePortType">
    <wsp:PolicyReference URI="#SslTransportPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="PingServiceException">
        <soap:fault name="PingServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  
  <service name="PingSslService">
    <jaxws:bindings> 
      <jaxws:class name="PingSslServiceClient" />
    </jaxws:bindings>
    <port name="PingServiceSslPort" binding="tns:PingServiceSslBinding">
      <wsp:PolicyReference 
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2003/09/policy" 
        URI="#SslTransportPolicy" />
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
 
  <wsp:Policy wsu:Id="SslTransportPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing/>
          <sp:TransportBinding>
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken RequireClientCertificate="false" />
                </wsp:Policy>
              </sp:TransportToken>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Lax />
                </wsp:Policy>
              </sp:Layout>
              <sp:IncludeTimestamp />
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
            </wsp:Policy>
          </sp:TransportBinding>
          <sp:Wss10>
            <wsp:Policy>
              <sp:MustSupportRefKeyIdentifier />
            </wsp:Policy>
          </sp:Wss10>
          <sp:SignedSupportingTokens>
            <wsp:Policy>
              <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                <wsp:Policy>
                  <sp:WssUsernameToken10 />
                </wsp:Policy>
              </sp:UsernameToken>
            </wsp:Policy>
          </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

</definitions>